[submodule "cookbooks/cookbook-elasticsearch"]
	path = cookbooks/cookbook-elasticsearch
	url = https://github.com/elastic/cookbook-elasticsearch.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/agileorbit-cookbooks/java.git
